{% extends 'base.html'%}

 {% block content %}

 <style>
  body {
  background-image: url('https://images.pexels.com/photos/5484257/pexels-photo-5484257.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat, repeat;
  background-size: cover;
 
  }
   
</style>


  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6" style="background-color: rgba(41, 8, 8, 0.5); color:rgb(212, 236, 232); text-align: center;">
        <h3 style="color:rgb(212, 247, 247); font-size:500%; font-weight: 600; text-align: center;padding-top: 5%;">Quote of the Day!</h3>
        <p>"{{quote.quote}}</p>
        <p><cite> {{quote.author}} </cite></p>
      </div>
    </div>

    <div class="row">
      <h2>BLOGS</h2>
      {% for blog in blogs %}
      <div class="col-md-4" style="background-color: rgba(41, 8, 8, 0.5); color:rgb(212, 236, 232); text-align: center;">
        <div class="card">
          <div class="card-header">
            <h3 style="text-decoration:underline;">{{blog.title}}</h3>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>{{ blog.content}}</p>
              {% if blog.user == current_user %}
            
                <a class="btn btn-sm" href="{{ url_for('main.updateblog', blog_id=blog.id) }}" style="border-radius: 5px; background-color: rgb(10, 10, 10); color: white;">Update</a>

                <form action="{{ url_for('main.delete_post', blog_id=blog.id) }}" method="POST"  style="display: inline; float: right !important;">
                  <button type="submit" class="btn btn-sm" style="padding-top: 5%; padding-bottom: 6%; border-radius: 5px; background-color: black; font-family:'Poppins', sans-serif  ; color: white;">Delete</button>
              </form>

              {% endif %}
              <footer class="blockquote-footer">
                <cite title="Source Title" style="color:rgb(212, 236, 232)"> By: {{ blog.user.username }}</cite>
                <small style="color:rgb(212, 236, 232)"> Posted on: {{ blog.posted_on.strftime('%d-%m-%Y') }}</small>

              </footer>
              
            </blockquote>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

{% endblock%}
