{% extends 'base.html'%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <h1 class="heading1">DIGITAL DIALOGUE </h1>

    </div>
    <div class="row" id="about">
      <h2 class="heading2">ABOUT US</h2>
      <P class="index_text">Digital Dialogue is a Blog that brings you content about different things, you can interact with different people with shared interests, get notifications on new blogs that you follow and comment on blogs to give feedback.</P>
      <p class="index_text"> You can even create blogs and update them.</p>
    </div>
  </div>

{% endblock %}